<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>

    <div class="container">
        <h3 class="my-5">Welcome to <%= heading %></h3><br>
    </div>

</body>
<% include partials/script %>

</html>